.container--login {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 16px;
}

.container--login h1 {
    margin: 32px;
}

.container--image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

.container--image img {
    align-self: self-start;
    max-height: 350px;
    max-width: 350px;
}

.container--form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1;    
}

.container--form h2 {
    margin: 64px;
}

.form--buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container--form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--orange-500);
    color: var(--text);
    font-weight: bold;
}
